<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.module_mine">

    <application>
        <activity
            android:name="com.yang.module_mine.ui.activity.OtherPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.ChangeUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.ViewHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineObtainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineObtainExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineExchangeGoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.MineSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.MineExtensionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.MineEarnObtainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.activity.MineLimitTimeExtensionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineShippingAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineAddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yang.module_mine.ui.obtain.activity.MineCreateOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />
    </application>

</manifest>