<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.module_mine">

    <application>
        <activity android:name="com.yang.module_mine.ui.activity.OtherPersonInfoActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.ChangeUserInfoActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.ViewHistoryActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.MineObtainActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.MineObtainExchangeActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.MineSignActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.MineExtensionActivity"/>
        <activity android:name="com.yang.module_mine.ui.activity.MineLimitTimeExtensionActivity"/>
    </application>

</manifest>